@import "tailwindcss";

@theme {
    --font-family-display: "Satoshi", "sans-serif";
    --breakpoint-4xl: 1920px;
    --color-*: initial;
    --color-neon-pink: oklch(71.7% 0.25 360);
    --color-neon-lime: oklch(91.5% 0.258 129);
    --color-neon-cyan: oklch(91.3% 0.139 195.8);
    --color-gray-50: #f8fafc;
    --color-gray-100: #f1f5f9;
    --color-gray-200: #e2e8f0;
    --color-gray-500: #e8e8e8;
    --color-green-800: #3f6212;
    --color-green-900: #365314;
    --color-green-950: #1a2e05;
    --color-flower-200: #0f8800;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-gray-500);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: calc(10px + 2vmin);
}
